<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="counter">
    <div class="insta">
      <i class="logo fa fa-instagram"></i>
      <h1 class="instagram-counter">30000</h1>
    </div>
    <div class="youtube">
    <i class="india flag"></i>
      <i class="logo fa fa-youtube"></i>
      <h1 class="youtube-counter">6000</h1>
    </div>
    <div class="twitter">
      <i class="logo fa fa-twitter"></i>
      <h1 class="twitter-counter">1500</h1>
    </div>
  </div>