.card-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
 margin: 130px auto;
}

.card-box h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.card-box p {
  font-size: 16px;
  margin: 0 0 5px;
}

.card-box p:last-child {
  font-weight: bold;
}

